* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 30px;
    width: 330px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card h2 {
    text-align: center;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

a {
    color: #667eea;
    text-decoration: none;
    font-size: 14px;
}

.center {
    text-align: center;
}

.logout {
    display: block;
    margin-top: 15px;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}


.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    background: #f5f6fa;
    padding: 15px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.stat h3 {
    margin: 0;
    color: #667eea;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #667eea;
    color: white;
}

.export-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 14px;
    background: #667eea;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
}

/* ACTION BUTTONS */
.actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn.export {
    background: #667eea;
    color: white;
}

.btn.logout {
    background: #ef4444;
    color: white;
}
